<form method="post" action="{{ path('app_proveedor_delete', {'codproveedor': proveedor.codproveedor}) }}" onsubmit="return confirm('Estas seguro de borrar el proveedor?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proveedor.codproveedor) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
