{% extends 'base.html.twig' %}

{% block title %}Editar proveedor
{% endblock %}

{% block body %}
	<h1>Editar proveedor</h1>
	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_proveedor_index') }}">Proveedores</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Editar proveedor</li>
		</ol>
	</nav>
	<div class="row">
		<div class="col-1"></div>
		<div class="col-10">
			<div class="d-flex justify-content-end">
				{{ include('proveedor/_delete_form.html.twig') }}
			</div>
		</div>
		<div class="col-1"></div>
	</div>
	{{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}


{% endblock %}
