<form method="post" action="{{ path('app_subfamilia_delete', {'codsubfamilia': subfamilium.codsubfamilia}) }}" onsubmit="return confirm('Estas seguro de borrar esta subfamilia?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subfamilium.codsubfamilia) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
