<form method="post" action="{{ path('app_familia_delete', {'codfamilia': familium.codfamilia}) }}" onsubmit="return confirm('Estas seguro de borrar esta familia?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ familium.codfamilia) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
