<form method="post" action="{{ path('app_fp_delete', {'codfp': fp.codfp}) }}" onsubmit="return confirm('Estas seguro de borrar esta forma de pago ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fp.codfp) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
