{% extends 'base.html.twig' %}

{% block title %}New Fp{% endblock %}

{% block body %}
    <h1>Create new Fp</h1>

    {{ include('fp/_form.html.twig') }}

    <a href="{{ path('app_fp_index') }}">back to list</a>
{% endblock %}
