{% extends 'base.html.twig' %}

{% block title %}Nueva forma de pago{% endblock %}

{% block body %}
    <h1>Crear forma de pago</h1>

    {{ include('fp/_form.html.twig') }}

    <a href="{{ path('app_fp_index') }}">Volver a la lista</a>
{% endblock %}
