<form method="post" action="{{ path('app_marca_delete', {'codmarca': marca.codmarca}) }}" onsubmit="return confirm('Estas seguro de borrar la marcaW?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ marca.codmarca) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
