<form method="post" action="{{ path('app_origengasto_delete', {'codorigen': origengasto.codorigen}) }}" onsubmit="return confirm('Estas seguro de borrar esta forma de pago?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ origengasto.codorigen) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
