<form method="post" action="{{ path('app_origengasto_delete', {'codorigen': origengasto.codorigen}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ origengasto.codorigen) }}">
    <button class="btn">Delete</button>
</form>
