{% extends 'base.html.twig' %}

{% block title %}Edit Origengasto{% endblock %}

{% block body %}
    <h1>Edit Origengasto</h1>

    {{ include('origengasto/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_origengasto_index') }}">back to list</a>

    {{ include('origengasto/_delete_form.html.twig') }}
{% endblock %}
