<form method="post" action="{{ path('app_articulo_delete', {'codarticulo': articulo.codarticulo}) }}" onsubmit="return confirm('Estas seguro de borrar este artículo?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ articulo.codarticulo) }}">
    <button class="btn btn-danger">Borrar</button>
</form>
