{% extends 'base.html.twig' %}

{% block title %}Crear artículo nuevo{% endblock %}

{% block body %}
    <h1>Crear artículo nuevo</h1>
    	<nav aria-label="breadcrumb my-3">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('app_inicio') }}">Inicio</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('app_articulo_index') }}">Articulos</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Crear artículo nuevo</li>
		</ol>
	</nav>
    {{ include('articulo/_form.html.twig') }}

   
{% endblock %}
